html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #eef4f7;
}

.app-layout {
  width: 100%;
  min-height: 100vh;
  background: #eef4f7;
}

.app-content {
  margin-left: 200px;
  width: calc(100% - 200px);

  display: flex;
  flex-direction: column;

  
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  background: #eef4f7;
}


