html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #eef4f7;
}

.app-layout {
  width: 100%;
  min-height: 100vh;
  background: #eef4f7;
}

.app-content {
  margin-left: 235px;
  width: calc(100% - 235px);

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  background: #eef4f7;
}

app-footer {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}